body {
  background-color: #333;
  color: #AABBFF;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Verdana', 'Georgia', sans-serif;
}

h1 {
  font-size: 4.0em;
  text-align: center;
  font-weight: normal;
}

button {
  border: 1px solid #AABBFF;
  background-color: transparent;
  color: #AABBFF;
  font-size: 2.0em;
  padding: 0.2em 0.8em;
}
